@{
    var now = DateTime.Now;
    <p>Day: @now.Day</p>
    <p>Month: @now.Month</p>
    <p>Year: @now.Year</p>
    <p>Hour: @now.Hour</p>
    <p>Minute: @now.Minute</p>
    <p>Second: @now.Second</p>

}
